html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #ffd699;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  background-attachment: fixed;

  font-size: 14px;
  color: #4d4d4d;
}

#render-target {
  height: 100%;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background: white;
}

.content-container {
  padding: 0;
  margin: 0;
  background: white;
  border: 1px solid #999999;
}

.logoutButton {
  float: right;
}

.logoutButtonContainer .btn-default {
  border: solid 0px;
}

.weWillPlay {
  padding: 20px 15px 20px 15px;
  font-size: 18px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.weWillPlayGreen {
  background-color: #5cb85c;
}

.weWillPlayRed {
  background-color: #d9534f;
}


.comingList {
  padding: 20px 0px 20px 0px;
  background-color: #e6ffe6;
}

.comingListHeader {
  padding: 0px 15px 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

.maybeList {
  padding: 20px 0px 20px 0px;
  background-color: #ffffe6;
}

.maybeListHeader {
  padding: 0px 15px 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

.noList {
  padding: 20px 0px 20px 0px;
  background-color: #ffe6e6;
}

.noListHeader {
  padding: 0px 15px 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

.membersHeader {
  padding: 20px 15px 0px 15px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #999999;
}

.memberList {
  padding: 20px 0px 20px 0px;
}

.event {
  padding: 20px 15px 20px 15px;
}

.event .date {
  font-size: 26px;
  font-weight: bold;
}

.event .countdown {
  font-size: 14px;
  padding-left: 15px;
}

.event .extraInfo {
  font-size: 18px;
  padding-left: 15px;
}

.memberContainer {
  padding: 0px 15px 0px 15px;
}

.member {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.memberName {
  width: 140px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.buttons {
  margin-bottom: 5px;
}

.info {
  margin-left: 5px;
  flex-grow: 1;
}

.info .form-control {
  margin-bottom: 5px;
}

.info .plainInput {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 0px 0px;
  -webkit-box-shadow: inset 0 0px 0px;
}

.login {
  padding-top: 20px;
}

.loginHeader {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}

.loginFormContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.loginFormContainer .input-group {
  display: -webkit-flex;
  display: flex;
}

.login .form-control {
  max-width: 150px;
}

.addMemberContainer {
  padding: 20px 15px 0px 15px;
}

.addMemberContainer .form-control {
  max-width: 200px;
}

.addMemberContainer .input-group {
  display: -webkit-flex;
  display: flex;
}